/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap'); */
.container
{
    display:flex;
    flex-direction: column;
    width:100%;
    height:100%;
    justify-content:flex-start;
    align-items:flex-start;
    /* border:red solid 1px; */
}


.main
{
    width: 100%;
    height: calc(100% - 80px);
    display:flex;
    flex-direction: row;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    background-color: #F5F5F5;
}

.whiteContainer
{
    display:flex;
    background-color: #F5F5F5;
    width: 309px;
    display: flex;
    flex-direction: row;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.whiteContainerInner
{
    display:flex;
    background-color: #FFF;
    width: 300px;
    height: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    box-shadow: 3px 2px 5px 0px  rgba(0,0,0,0.19);
    
}

.right
{
    display:flex;
    background-color: #F5F5F5;
    width: calc(100% - 309px);
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
   /*  border:red solid 3px;  */
}

.listWrapper
{
    /* border: red 2px solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap:18px;
    margin-top: 40px;
}

.listItem
{
    border-radius: 20px;
    background-color: #FFF;
    padding: 15px 15px;
    box-shadow: 5px 5px 15px 3px rgba(0,0,0,0.09);
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: 0 auto;
}

.avator
{
    border-radius:50%;
    border: #6900c5 2px solid;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 51px;
    height: 51px;
    overflow: hidden;
}

.avator img
{
    width: 46px;
    height: 46px;
    margin: auto;
}

.listItemCenter
{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-left: 20px;
    /* border: red 1px solid; */
    gap: 1px;
}

.listItemCenter span
{
    height: 20px;
    /* border: blue 1px solid; */
}

.listItemTitle
{
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.listItemH2
{
    color: #8497AF;
    font-size: 14px;
    font-weight: normal;
}