@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
.container
{
    background-color: #5f00d2;
    display:flex;
    flex-direction: column;
    width:100vw !important;
    height:100%;
    justify-content:flex-start;
    align-items:flex-start;
    overflow-y: hidden;
    position: fixed;
}

.whiteContainer
{
    background-color: #F5F5F5;
    width: 100%;
    height: 100%;
    -webkit-border-top-left-radius: 25px;
    -webkit-border-top-right-radius: 25px;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-topright: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0px -10px 7px 2px #6900c5;
    padding:28px 26px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.bottomControlPanelContainer
{
    background-color: #FFF;
    width: 100%;
    height: 102px;
    border-top: #EEE 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listWrapper
{
    /* border: red 2px solid; */
    display: flex;
    flex-direction: column;
    gap:18px;

}

.listItem
{
    border-radius: 20px;
    background-color: #FFF;
    padding: 5px 15px;
    box-shadow: 5px 5px 15px 3px rgba(0,0,0,0.09);
    display: flex;
    flex-direction: row;
}

.avator
{
    border-radius:50%;
    border: #6900c5 2px solid;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 51px;
    height: 51px;
}

.avator img
{
    width: 46px;
    height: 46px;
    margin: auto;
}

.listItemCenter
{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-left: 20px;
    /* border: red 1px solid; */
    gap: 1px;
}

.listItemCenter span
{
    height: 20px;
    /* border: blue 1px solid; */
}

.listItemTitle
{
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.listItemH2
{
    color: #8497AF;
    font-size: 14px;
    font-weight: normal;
}