/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap'); */

.container
{
    background-color: #fff;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:0 26px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.1);
    height: 50px;
}
.item
{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: 55px;
    color: #C1CAD7;
    row-gap: 2px;
    padding: 5px 8px 0 8px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.dot
{
    display:flex;
    height: 8px !important;
    width: 8px;
}

.circle
{
    height: 8px !important;
    width: 8px;
    background-color: #C1CAD7;
    border-radius: 50%;
    z-index: 10;
}

.item.active .circle
{
    background-color: #7900D2;
}

.item.active
{
    color: #000;
}

.item span
{
    font-family: 'Roboto';
    height:19px;
    width: 100%;
    line-height: 19px;
    font-size: 12px;
    white-space: nowrap;
    text-align: center;
}

.line
{
    width: 60px;
    height: 1px;
    background-color: #C1CAD7;
    position: absolute;
    margin:4px 0 0 8px;
    z-index: 9;
}

.active .line
{
    background-color: #FFC531;
}

.item:hover, .item.active:hover
{
    color: #ff4800;
}