@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
}

.canvas
{
    width: 90%;
    height: 90%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img
{
    border: #BCA9F1 1px solid;
    background-color: #fff;
    width: 94%;
    height: 99.62%;
}

.drag
{
    
    width:70px;
    height:70px;
    background-color: red;
}