@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  display: flex; 
}

html {
  height: -webkit-fill-available;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (orientation: landscape){
  @supports (-webkit-touch-callout: none) {
    .landscapeFillAvailable {
      height: -webkit-fill-available;
    }
  }
}

@media (orientation: portrait){
  @supports (-webkit-touch-callout: none) {
    .portraitFillAvailable {
      height: -webkit-fill-available;
    }
  }
}

.background-animate {
  background-size: 400%;

  -webkit-animation: AnimationBackgroundAnimate 3s ease infinite;
  -moz-animation: AnimationBackgroundAnimate 3s ease infinite;
  animation: AnimationBackgroundAnimate 3s ease infinite;
}

@keyframes AnimationBackgroundAnimate {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@media (orientation: landscape) and (max-width:1279px) {
  
  .landscapeText
  {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

}

