@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
    padding-bottom: env(safe-area-inset-bottom);
  }
}

.background-animate {
  background-size: 400%;

  -webkit-animation: AnimationBackgroundAnimate 3s ease infinite;
  -moz-animation: AnimationBackgroundAnimate 3s ease infinite;
  animation: AnimationBackgroundAnimate 3s ease infinite;
}

@keyframes AnimationBackgroundAnimate {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@media (orientation: landscape) {
  .landscapeText
  {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  .landscapePaddingXAuto
  {
    padding: 0 auto;
  }
}

