/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap'); */
.container
{
    position: absolute;
    /* border: red 1px solid; */
    height: 100vh;
    width: 100vw;
    z-index: 30;
    left: -0vw;
    transition: left 0.2s;
    display: flex;
    flex-direction: row;
}

.inner
{
    /* border: blue 1px solid; */
    height: 100vh;
    width: 300px;
    z-index: 30;
    background-color: #F5F5F5;
    box-shadow: 8px 0px 10px 5px rgba(0,0,0,0.2);
}

.empty
{
    width: calc(100% - 300px);
    height: 100vh;
}

.close
{
    left: -100vw;
    box-shadow:none;
}

.close .inner
{
    box-shadow:none;
}

.XbtnContainer
{
    position: relative;
    /* border: blue 1px solid; */
    width: 100%;
    height: 30px;
    text-align: right;
}

.xBtn
{
    color: #6900c5;
    cursor: pointer;
    margin: 10px 10px 0 0;
}

.listWrapper
{
    /* border: blue 1px solid; */
    width: 100%;
    height: 99%;
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item:first-child
{
    padding-top: 60px;
}

.item
{
    display: flex;
    flex-direction: row;
    gap:10px;
    color: #5c5c5c;
    /* border: blue 1px solid; */
    padding: 0 30px;
    justify-content: left;
}

.item i
{
    color: #5c5c5c;
}

.poweredBy
{
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: end;
    align-items: center;
    /* border: red 1px solid; */
    width: 100%;
    padding: 0 0 10px 0;
    font-size: 12px;
}
.poweredByInner
{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.poweredBy span.name
{
    color: #6900c5;
    display: inline;
}